$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-sans-serif: Arial, Helvetica, sans-serif;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;


$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(/assets/img/noise_transparent@2x.png), 
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
#211F20;

$footer-gradient-background: url(/assets/img/noise_transparent@2x.png), 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
#211F20;

/* <-- font style */

@mixin h2 {
    font: {
        family: $font-serif;
        weight: normal;
        size: 4.4rem;
    }    
    line-height: 130%;
    //color: #C4C4C4;
}


@mixin h3 {
    font: {
        family: $font-serif;
        weight: normal;
        size: 3.5rem;
    }   
    line-height: 130%;
    letter-spacing: 0.21rem;
    //color: #C4C4C4;
}

@mixin h3-mobile {
    font: {
        family: $font-serif;
        style: normal;
        weight: normal;
        size: 2.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.16rem;
}

@mixin h4 {
    font: {
        family: $font-serif;
        weight: normal;
        size: 2rem;
    }    
    line-height: 115%;
    letter-spacing: 0.12rem;
    //color: #C4C4C4;
}

@mixin h5 {
    font: {
        family: $font-serif;
        weight: normal;
        size: 1.5rem;
    }    
    line-height: 110%;
    letter-spacing: 0.09rem;
    //color: #C4C4C4;
}

@mixin paragraph-l {
    font: {
        family: $font-sans-serif;
        weight: normal;
        size: 1.5rem;
    }    
    line-height: 160%;
    //color: #C4C4C4;
}

@mixin paragraph-s {
    font: {
        family: $font-sans-serif;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }    
    line-height: 150%;
    //color: #C4C4C4;
}

/* font style --> */


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    outline: none;
}





:root {
    font-size: 10px;
}


/* <-- animatiom */


.button-hover:hover {
    background-color:$color-primary-light;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
    border: 0;
    
}

.slider__item:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease-in-out;
}



/* animatiom --> */


p {
    @include paragraph-l;
}

ul, li {
    list-style: none;
}

/* <-- header */

.header {
    width: 100%;
    background: white;
    position: fixed;
    top: 0px;
    z-index: 100;
    &__wrapper {
        margin: 3rem auto;
        display: flex;
        //margin: 0 auto;
        //max-width: 62.5%;
        max-width: 120rem;
        flex: 1;
        justify-content: space-between;
    }
    &__burger {
        display: none;
    }

}

.wrapper {
    display: flex;
    margin: 0 auto;
    //max-width: 62.5%;
    max-width: 120rem;
    flex: 1;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &__title {
        
        font-family: $font-serif;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 110%;
        margin: 0;
    
        display: flex;
        align-items: center;
        letter-spacing: 0.2rem;
    
    
        color: $color-dark-l;
        
    }
    
    &__subtitle {
        margin-top: 1rem;
    
        font-family: $font-sans-serif;
        font-size: 1.3rem;
        line-height: 110%;
    
        display: flex;
        letter-spacing: 0.13rem;
    
    
        color: $color-dark-3xl;
    }

}



.menu {
    display: flex;
    width: 44.3rem;

    .menu__list {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
    
    }
    
    .menu__link {
        color: $color-dark-3xl;
        font-family: $font-sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-decoration: none;
        
    
        &_disabled {
            color: $color-dark-l;
            opacity: 0.8;
        }
        
       &_active {
            border-bottom: solid 3px $color-primary;
        }
    }
    
    .menu__item {
        display: flex;
        align-items: center;
    }

    .link_disabled:hover {
        cursor: not-allowed;  
    }


    .link_active:hover {
        cursor: pointer;
        transition: width 0.3s ease-out;
        opacity: 1; 
        font-weight: 500;
    }
}

/* <-- friends */
.friends {
    //padding-top: 8.1rem;
    //padding-bottom: 10rem;
    margin-top: 12rem;
    background-color: $color-light-l;

    &__wrapper {
        //margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10rem;
    }

    &__title {
        @include h3;
        color: $color-dark-l;
        margin-top: 8rem;
        text-align: center;
    }

    &__slider-button {
        display: flex;
        justify-content: space-between;
        width: 34rem;
        align-items: center;
        margin: 6rem auto -0.3rem;
        @include h4;
        

        .slider__button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
     
            width: 5.2rem;
            height: 5.2rem;
            border: 0.2rem solid #F1CDB3;
            background: none;
            box-sizing: border-box;
            border-radius: 100rem;

            &-active:hover {
                background-color:$color-primary-light;
                cursor: pointer;
                transition: .2s ease-in-out;
                outline: none;
                border: 0;
                
            }

            &-number {
                background-color:$color-primary-light;
                outline: none;
                border: 0;
                
            }

            &-disabled {
                border-color: $color-dark-s;    
                color: $color-dark-s; 
            }
                     
        }
        /*.slider__button-active:hover {
            background-color:$color-primary-light;
            cursor: pointer;
            transition: .2s ease-in-out;
            outline: none;
            border: 0;
            
        }*/
    }
    
    /*.slider__gallery {
        width: 100%;
        display: flex;
        //align-items: center;
        justify-content: space-between;
     } */
     .slider__card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3rem auto;
    }

    .slider__item {
        width: 270px;
        height: 435px;

        border: none;
        margin-top: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-light-s;
        border-radius: 9px;

        opacity: 0;
            
        &_visible {
            opacity: 1;
            transform: scale(1);
            transition: .2s ease-in-out;
        }

        .item__title {
            @include h4;
            margin: 3rem auto;
        }

        .item__button {

            background: none;
            border: 2px solid $color-primary;
            box-sizing: border-box;
            border-radius: 10rem;

            height: 5.2rem;
            width: 18.7rem;
            
            font-family: $font-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.7rem;
            line-height: 2.2rem;
            letter-spacing: 0.1rem;
            color: $color-dark-3xl;
        }
        

        .item__button:hover {
            background-color:$color-primary-light;
            cursor: pointer;
            transition: .2s ease-in-out;
            outline: none;
            border: 0;
            
        }

       
    }
    
    

    

        
    
}
/* friends --> */

/* <-- footer */
.footer {
    background: $footer-gradient-background;    

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 4rem;
        //align-items: center;    
    }

    &__content-item {
        display: flex;
        align-items: center;

        .footer__contact-link, .footer__adress-link {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        span {
            @include h4;
            color: $color-primary;
            margin-left: 2rem;
        }
    }

    &__content-title {
        @include h3;
        color: $color-light-xl;
    }


    &__contacts {
        max-width: 28rem;
        margin-top: 2rem;
        .footer__content-item {
            margin-top: 3.3rem;
            img {
                width: 4rem;
                //height: 3.2rem;
            }
        }
    }

    &__location {
        max-width: 30.5rem;
        margin-top: 2rem;
        .footer__content-item {
            margin-top: 3.2rem;
            img {
                //width: 2.2rem;
                height: 3.2rem;
                margin-left: -6px;
            }
            span {
                margin-left: 1.5rem;
            }
        }
    }
    
}
/* footer --> */

@media all and (max-width: 1279px) {
    .wrapper {
        margin-left: 3rem;
        margin-right: 3rem;
        
      }
    
        
      .hero {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
        &__button{
            margin: 4.3rem auto 0;
        }
        &__img-wrapper {
            width: 56.9rem;
            margin-top: 2rem;
            margin-left: 5.5rem;
         }
    }  

    .friends {
        //padding-top: 8rem;
        .wrapper {
            justify-content: center;
            
        }
        &__wrapper {
            margin-bottom: 8rem;
        }
        .slider__gallery {
            width: 580px;
            
            position: relative;
        }

       .slider__card {
            margin: 0;
            overflow: hidden;
            height: 1365px;
        }

        &__slider-button {
            margin-top: 7rem;
        }

        /*.slider__item {
            margin-right: 41px;
            
        }*/
    }

    .footer {
      
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;
         }
         &__contacts {
            margin-top: 1px;
            margin-bottom: 60px;
            margin-right: 58px;
            margin-left: 4px;
        }
        &__location {
            margin-top: 0;
            margin-bottom: 60px;
        }
     }
}

@media all and (max-width: 767px) {
    .wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
        
      }
   
    /* <-- burger menu */
    .header {
        &__burger:hover {
            cursor: pointer;
        }
        &__burger {
            display: flex;
            align-self: center;
            position: relative;
            width: 30px;
            height: 22px;
            margin-right: 43px;
            z-index: 1000;
            transition: .3s ease-out;
            flex-direction: column;
            row-gap: 8px;
            span {
                content: '';
                background-color: #000000;
                //position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
        }  
        .menu {
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            right: -320px;
            transform: translateX(0);
            width: 320px;
            height: 100vh;
            margin: 0;
            opacity: 0;
            background-color: #292929;
            transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out;
            overflow: auto;

            &__list {
                flex-direction: column;
            }
        }
    }
    /* <-- burger menu */

    .hero {
        text-align: center;
        &__title {
            @include h3-mobile;
        }
        &__img {
            width: 26rem;
            margin-left: 15rem;
            margin-top: 0.5rem;
        }
        &__button {
            margin-top: 4.1rem;
        }
    }  

    .friends {
        //padding-top: 4.2rem;
        //padding-bottom: 4.2rem;
        margin-top: 8.1rem;
        &__wrapper {
            align-items: center;
            margin-bottom: 4.6rem;
        }
        &__title {
            @include h3-mobile;
            letter-spacing: 0.12rem;
            margin-bottom: 14px;
        }   
        
        .slider__gallery {
            width: 270px;
        }
        &__slider-button {
            width: 30rem;
            margin-left: -1.5rem;
        }

    }

    
    .footer {
        &__contacts {
            margin: 0;
            margin-bottom: 3.6rem;
        }
        h3 {
            @include h3-mobile();
            text-align: center; 
        }
        &__content-title {
            text-align: center;
            margin-bottom: 3.5rem;
        }
        &__location {
            margin-bottom: 8.8rem;
        }
        &__img {
            width: 26rem;
        }

    }
}

/* <-- popup */

.body_lock {
    overflow: hidden;
}

.popup {
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all .3s ease-in-out;
    color: black;

    &_visible {
        visibility: visible;
        opacity: 1;
        .popup__card{
            transform: translate(-50%, -50%) scale(1);    
        }
    }
     
    &__card {
        width: 90rem;
        z-index: 1000;
        position: fixed;
        background-color: FAFAFA;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) scale(0.8);
         transition: all .4s ease-in-out;
    }
  
    &__close-btn {
        position: absolute;
        right: -4.2rem;
        top: -5.2rem;
        width: 5.2rem;
        height: 5.2rem;
        border: 0.2rem solid #F1CDB3;
        border-radius: 100%;
        transition: background-color 0.3s ease-out;
        
        &:hover {
            cursor: pointer;
            border: 0.2rem solid #FDDCC4;
            background-color: #FDDCC4;
        }
    }
  
  
 
    &__content {
        display: flex;
        flex-direction: row;
        background-color: #FAFAFA;
        border-radius: 0.9rem;
        /*box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);*/
    }

    &__img {
        img {
        margin-right: 2.9rem;
        width: 50rem;
        border-radius: 0.9rem;
        }    
    } 

    &__info {
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 5rem;
        margin-right: 2rem;
        color: black;
        width: 35.1rem;
                
        h3 {
            margin-bottom: 1rem;
            @include h3;    
        }
        h4 {
            margin-bottom: 4rem;
            @include h4;
        }
        
        p, span {
            margin-bottom: 3.5rem;
            @include h5;  
            line-height: 1.6rem;
            letter-spacing: 0;
        }

     }

     &__item {
         
        &:before {
            content: "\2022";
            color: #F1CDB3;
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 1rem;
        }
            
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    
   &__dark-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(41, 41, 41, 0.6);
    &:hover {
        cursor: pointer;
        }
  }
  
  
}
  
  

  @media (max-width: 1279px) {
    .popup {

        &__card {
            width: 63rem;
        }
        
        &__img {
            img {
                width: 35rem;
            }
        }

        &__info {
            margin-top: 1rem;
            margin-right: 0.9rem;
            p {
                font-size: 1.3rem;
                line-height: 1.4rem;
                margin-bottom: 2rem;
            }
        }

        &__subtitle{
            margin-bottom: 2rem;
        }
        
        

        &__item {
            &:not(:last-child) {
                margin-bottom: 0.1rem;
            }
        }
     }
  }
  


 @media (max-width: 767px) {
    .popup {

        &__card {
            width: 24rem;
        }

        &__close-btn {
            right: -3rem;
        }

         &__img {
            display: none;
        }

        &__info {
            margin: 1rem;
         }

        &__subtitle, &__title{
            align-self: center;
            text-align: center;
        }

        &__description {
            text-align: justify;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
     }
 

  }
  
 
/* popup --> */


/* <-- burger menu */
.header {
    &__burger-overlay {
    width: 0;
    height: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.6);
    transition: .2s ease-out;
  }
 }

@media all and (max-width: 767px) {

     .header {

        &__burger_rotate {
            transform: rotate(90deg);
        }
        &__burger:hover {
            cursor: pointer;
        }

        &__burger {
            display: flex;
            align-self: center;
            position: absolute;
            width: 3rem;
            height: 2.2rem;
            top: 4rem;
            right: 2vw;
            z-index: 1000;
            transition: .3s ease-out;
            flex-direction: column;
            row-gap: 8px;
            span {
                content: '';
                background-color: #F1CDB3;
                width: 100%;
                height: 0.2rem;
                left: 0;
            }
        } 

        &__burger-overlay_visible {
            width: 100%;
            height: 100vh;
            display: block;
        }

        .logo-burger_visible {
            z-index: 1001;
            position: absolute;
            top: 2rem;
            right: 10.5rem;
            .logo__title {
                color: $color-primary;
            }
            .logo__subtitle {
                color: $color-light-xl;
            }
        }

        .menu {
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            right: -32rem;
            transform: translateX(0);
            width: 32rem;
            height: 100vh;
            margin: 0;
            opacity: 0;
            background-color: #292929;
            transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out;
            overflow: auto;

            &__list {
                flex-direction: column;
                display: flex;
                align-items: center;
                .menu__item {
                    a {
                        font-family: $font-sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 3.2rem;
                        line-height: 5.1rem;
                        letter-spacing: 0;
                        color: $color-dark-s;
                        margin-bottom: 2rem;
                    }
                }
            }

            
        }
        .menu__burger_display {
                display: flex;
                transform: translateX(-32rem);
                opacity: 1;
        }
    }
}

/* <-- burger menu */